.chat {
    height: calc(100vh - 70px);
    display: flex;
}

.chatMenu{
    flex: 3.5;
    border-right: 1px solid #ccc;
}

.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatMenuInputError {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
    background-color: lightcoral;
    color: darkred;
}

.chatBox {
    flex: 5.5;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput {
    width: 85%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 10px;
    margin-right: 5%;
    margin-bottom: 10px;
}

.chatOnline {
    flex: 3;
}

.chatBoxWrapper, .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}

.noCurrentConvoText {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 40px;
    color: darkgray;
    text-align: center;
    cursor: default;
}

.chatMenuWrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.newChatButton {
    margin-left: 3%;
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
  
.chatSubmitButton:hover {
    background-color: #0056b3;
}




.inviteEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.inviteInfo {
    flex: 1;
}

.inviteInfo span {
    color: #333;
    font-weight: bold;
}

.inviteActions {
    display: flex;
}

.acceptButton,
.declineButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.acceptButton:hover,
.declineButton:hover {
    background-color: #0056b3;
}

.inviteImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}